    @font-face {
        font-family: "方正书宋_GBK";
        src: url("assets/fonts/FZSSK.ttf") format("truetype");
        unicode-range: U+4E00-9FFF;
    }
    @font-face {
        font-family: "DeVinne BT";
        src: url("assets/fonts/TT0911M_.ttf") format("truetype"),
             url("assets/fonts/TT0912M_.ttf") format("truetype");
        unicode-range: U+0000-007F;
    }
    
    body {
        background-color: #ffffff;
        color: #000000;
        line-height: 1.6;
        margin: 0;
        padding: 20px;
    }

    h1, h2, h3, h4, h4, h5, h6 {
        font-weight: normal;
        font-family: "DeVinne BT", "方正书宋_GBK";
        text-align: center;
    }

    p {
        font-family: "DeVinne BT", "方正书宋_GBK";
    }


